.box {
    height: 100px;
    display: table;
}

.middle {
    vertical-align: middle;
    display: table-cell;
}

.bottom {
    vertical-align: bottom;
    padding-bottom: 10px;
}

.dark {
    color: #eee;
    font-weight: bold;
}

.light {
    color: #111;
    font-weight: bold;
}

.shadow {
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

@media (max-width: 768px) {
    .box {
        width: 100%;
    }
}

@media (min-width: 768px) {
    .table {
        position: relative;
        top: 50%;
        transform: translateY(-150%);
    }

    .subtable {
        position: relative;
        top: 50%;
        transform: translateY(-100%);
    }
}