body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    height: 100%;
    width: 100%;
    margin: 0;
}

.table {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translateX(-760px) translateY(-70%);
}

.cell {
    float: left;
}

.main {
    width: 150px;
    height: 100px;

    transition: all 0.4s ease-in-out;

    font-size: 24px;
    text-align: center;

    line-height: 100px;
}

.element:hover .footer {
    height: 50px;
    max-height: 50px;
}

.cell:hover .footer-hide {
    height: 0;
    max-height: 0;
}

.footer {
    height: 0;
    max-height: 0;
    overflow-y: hidden;

    transition: all .5s ease;

    background-color: rgba(0, 0, 0, 0.2);
}

.footer-hide {
    height: 50px;
    max-height: 50px;

    transition: all .5s ease;
}

.footer-text {
    text-align: center;

    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.dark {
    color: rgba(255, 255, 255, 0.87);
}

.light {
    color: rgba(0, 0, 0, 0.87)
}

.color-name {
    text-align: center;
    font-size: 24px;
    margin-bottom: 10px;
}

.shadow {
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}